@model AguasNico.Models.ViewModels.Expenses.IndexViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Gastos";
}

<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/js/custom/expenses/index.js"></script>


<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Gastos</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active">Gastos</li>
            </ol>
        </div>
    </div>


    <!-- Modal -->
    <div id="modalCreate" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true" style="display: none;">
        <div id="formContainer" class="modal-dialog">
            <form id="form-create" method="post" asp-area="" asp-controller="Expenses" asp-action="Create"
                id="form-create" autocomplete="off">
                <input type="hidden" name="CreateViewModel.ID" value="" />
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modalTitle" class="modal-title"></h4>
                        <button type="button" class="close" id="btnCloseModalCreate" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-column">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="CreateViewModel.UserID" class="mb-0"></label>
                                        @Html.DropDownListFor(x => x.CreateViewModel.UserID, Model.Dealers, new { @class = "form-control mb-2" })
                                        <span asp-validation-for="CreateViewModel.UserID" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="CreateViewModel.Description" class="mb-0"></label>
                                        <input asp-for="CreateViewModel.Description" class="form-control" required />
                                        <span asp-validation-for="CreateViewModel.Description" class="text-danger"></span>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label asp-for="CreateViewModel.Amount" class="mb-0"></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input asp-for="CreateViewModel.Amount" class="form-control" required type="number" data-val-number="Debes ingresar un número" />
                                        </div>
                                        <span asp-validation-for="CreateViewModel.Amount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button id="btnSendModal" type="button" class="btn btn-success waves-effect waves-light">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal -->

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <h2 class="card-title">Listado de gastos</h2>
                        <button id="btnAdd" type="button" class="btn btn-info btn-rounded waves-effect waves-light m-t-10 float-right" data-toggle="modal" data-target="#modalCreate">Agregar gasto</button>
                    </div>
                    <div class="table-responsive m-t-10">
                        <table id="DataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                @foreach (var item in Model.Expenses)
                                {
                                    <tr data-id="@item.ID">
                                        <td>@Html.DisplayFor(c => item.Description)</td>
                                        <td>$@Html.DisplayFor(c => item.Amount)</td>
                                        <td>@(item.CreatedAt.ToString("dd/MM/yyyy"))</td>
                                        <td class='d-flex flex-row justify-content-center'>
                                            <button type='button' class='btn btn-outline-info btn-rounded btn-sm mr-2' onclick='editExpense(@Json.Serialize(item))' data-toggle="modal" data-target="#modalCreate"><i class="bi bi-pencil"></i></button>
                                            <button type='button' class='btn btn-danger btn-rounded btn-sm ml-2' onclick='deleteObj(@item.ID)'><i class='bi bi-trash3'></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <form id="form-delete" method="post" asp-area="" asp-controller="Expenses" asp-action="SoftDelete">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>