@model AguasNico.Models.ViewModels.Home.IndexViewModel
@using System.Globalization
@using AguasNico.Models.ViewModels.Tables

@{
    ViewData["Title"] = "Inicio";
}

<link href="~/lib/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/lib/moment/moment-with-locales.js"></script>
<script src="~/lib/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/js/custom/home/index.js"></script>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Inicio</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Inicio</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-primary"><i class="mdi mdi-currency-usd"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-light">$@Html.DisplayFor(x => Model.TotalSold)</h3> <!--recaudado del dia -->
                            <h5 class="text-muted m-b-0">Recaudado en el día</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-danger"><i class="mdi mdi-shopping"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">$@Html.DisplayFor(x => Model.TotalExpenses)</h3> <!-- GASTOS DEL DIA -->
                            <h5 class="text-muted m-b-0">Gastos del día</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-success"><i class="mdi mdi-checkbox-marked-circle-outline"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">@Html.DisplayFor(x => Model.CompletedRoutes)</h3> <!-- REPARTOS COMPLETADOS -->
                            <h5 class="text-muted m-b-0">Repartos completados</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-xl-3 col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-warning"><i class="mdi mdi-clock-fast"></i></div>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-lgiht">@Html.DisplayFor(x => Model.PendingRoutes)</h3> <!-- REPARTOS EN CURSO/PROCESO -->
                            <h5 class="text-muted m-b-0">Repartos en curso</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->

        <div class="col-lg-6 col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row mr-auto">
                        <h4 class="my-auto card-title">Productos vendidos el</h4>
                        <input type="text" class="form-control ml-3 my-auto" id="ProductsDatePicker" name="date" value='@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")' style="max-width: fit-content;" />
                    </div>
                    <div class="table-responsive">
                        <table id="productsTable" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th style="width:10%;"></th>
                                    <th>Producto/Envase</th>
                                    <th>Cargados</th>
                                    <th>Vendidos</th>
                                    <th>Devueltos</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SoldProductsTable product in Model.SoldProducts)
                                {
                                    <tr>
                                        <td><span class="round"><i class="ti-shopping-cart"></i></span></td>
                                        <td><h6>@Html.DisplayFor(x => product.Name)</h6></td>
                                        <td><h6>@Html.DisplayFor(x => product.Dispatched)</h6></td>
                                        <td><h5>@Html.DisplayFor(x => product.Sold)</h5></td>
                                        <td><h5>@Html.DisplayFor(x => product.Returned)</h5></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row mr-auto">
                        <h3 class="my-auto card-title">Gastos del día</h3>
                        <input type="text" class="form-control ml-3 my-auto" id="ExpensesDatePicker" name="date" value='@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")' style="max-width: fit-content;" />
                    </div>
                    <div class="table-responsive">
                        <table id="expensesTable" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th>Repartidor</th>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(Expense expense in Model.Expenses)
                                {
                                    <tr>
                                        <td>
                                            <h6>@Html.DisplayFor(x => expense.User.UserName)</h6>
                                        </td>
                                        <td>
                                            <h6>@Html.DisplayFor(x => expense.Description)</h6>
                                        </td>
                                        <td>
                                            <h5>$@Html.DisplayFor(x => expense.Amount)</h5>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row mr-auto">
                        <h3 class="my-auto card-title">Repartos del día</h3>
                        <input type="text" class="form-control ml-3 my-auto" id="RoutesDatePicker" name="date" value='@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")' style="max-width: fit-content;" />
                    </div>
                    <div class="table-responsive m-t-20">
                        <table id="routesTable" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Envíos completados</th>
                                    <th>Estado</th>
                                    <th>Recaudado</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="form-searchRoutesByDate" method="get" asp-area="" asp-controller="Routes" asp-action="SearchByDate">
        @Html.Hidden("dateString", "")
    </form>
    <form id="form-searchProductsByDate" method="get" asp-area="" asp-controller="Routes" asp-action="SearchSoldProducts">
        @Html.Hidden("dateString", "")
    </form>
    <form id="form-searchExpensesByDate" method="get" asp-area="" asp-controller="Expenses" asp-action="SearchByDate">
        @Html.Hidden("dateString", "")
    </form>
</div>
    