@model AguasNico.Models.ViewModels.Carts.EditViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Editar bajada";
}

<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/js/custom/carts/edit.js"></script>


<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-12 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Bajada</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Routes" asp-action="Index">Planillas</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Routes" asp-action="Details" asp-route-id="@Model.Cart.RouteID">Planilla @Model.Cart.Route.DayOfWeek - @Model.Cart.Route.User.Name</a></li>
                <li class="breadcrumb-item active">Editar bajada</li>
            </ol>
        </div>
    </div>
    <h3 class="text-center">Bajada #@Model.Cart.ID - @Model.Cart.Client.Name</h3>
    <hr>
    <div class="row">
        @if (Model.AbonoProducts.Any())
        {
            <div class="col-12 col-lg-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title">Productos del abono</h2>
                        <div class="table-responsive m-t-10">
                            <table id="ProductosAbono" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (CartAbonoProduct product in Model.AbonoProducts)
                                    {
                                        <tr data-type="@((int)product.Type)">
                                            <td>@product.Type.GetDisplayName()</td>
                                            <td><input type="number" name="quantity" class="form-control" value="@(product.Quantity > 0 ? product.Quantity : "")" /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-12 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Productos bajados</h2>
                    <div class="table-responsive m-t-10">
                        <table id="ProductosBajados" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CartProduct product in Model.Products)
                                {
                                    <tr data-type="@((int)product.Type)">
                                        <td>@product.Type.GetDisplayName()</td>
                                        <td><input type="number" name="quantity" class="form-control" value="@(product.Quantity > 0 ? product.Quantity : "")" /></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Devolución de productos</h2>
                    <div class="table-responsive m-t-10">
                        <table id="ProductosDevueltos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ReturnedProduct product in Model.ReturnedProducts)
                                {
                                    <tr data-type="@((int)product.Type)">
                                        <td>@product.Type.GetDisplayName()</td>
                                        <td><input type="number" name="quantity" class="form-control" value="@(product.Quantity > 0 ? product.Quantity : "")" /></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Entrega</h2>
                    @Html.DropDownList("cartPaymentMethod", Model.PaymentMethodsDropDown, new { @class = "form-control mb-2", @id = "cartPaymentMethod" })
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" id="cartPaymentAmount" placeholder="Entrega" min="0" step="1" value="@(Model.Cart.PaymentMethods.Any() ? Model.Cart.PaymentMethods.First().Amount.ToString("#") : "")">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-end">
            <button type="button" class="btn btn-success btn-rounded px-3" onclick="confirm()">Guardar cambios</button>
        </div>
    </div>


    <form id="form-edit" method="post" asp-area="" asp-controller="Carts" asp-action="Edit">
        @Html.AntiForgeryToken()
        @Html.Hidden("Cart.ID", Model.Cart.ID)
        @Html.Hidden("Cart.RouteID", Model.Cart.RouteID)
        @Html.Hidden("Cart.ClientID", Model.Cart.ClientID)
    </form>
</div>