@model AguasNico.Models.Cart
@using System.Globalization
@{
    ViewData["Title"] = "Editar bajada";
}

<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>

<script src="~/js/custom/carts/edit.js"></script>


<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Bajada</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Routes" asp-action="Index">Planillas</a></li>
                <li class="breadcrumb-item active">Editar bajada</li>
            </ol>
        </div>
    </div>
    <h3 class="text-center">Bajada #@Model.ID @Model.Client.Name</h3>
    <hr>
    <div class="row">
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Productos Bajados</h2>
                    <div class="table-responsive m-t-10">
                        <table id="ProductosBajados" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CartProduct product in Model.Products)
                                {
                                    @* <tr data-type="@product.Type"> *@
                                    <tr>
                                        <td>@product.Product.Type.GetDisplayName()</td>
                                        <td><input type="number" name="quantity" class="form-control" value="@product.Quantity" /></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Devolución de Productos</h2>
                    <div class="table-responsive m-t-10">
                        <table id="ProductosDevueltos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ReturnedProduct product in Model.ReturnedProducts)
                                {
                                    <tr>
                                        <td>@product.Product.Type.GetDisplayName()</td>
                                        <td><input type="number" name="quantity" class="form-control" value="@product.Quantity" /></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Pagos</h2>
                    <div class="table-responsive m-t-10">
                        <table id="Pagos" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CartPaymentMethod pay in Model.PaymentMethods)
                                {
                                    <tr>
                                        <td>@pay.PaymentMethod.Name</td>
                                        <td><input type="number" name="quantity" class="form-control" value='@pay.Amount.ToString("#")' min="0"/></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 d-flex justify-content-end">
            <button type="button" id="btnSave" class="btn btn-success btn-rounded px-3">Guardar cambios</button>
        </div>
    </div>


    <form id="form-edit" method="post" asp-area="" asp-controller="Carts" asp-action="Edit">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ID)
    </form>
</div>