@model AguasNico.Models.ViewModels.Routes.Details.DealerViewModel
@using System.Globalization
@using AguasNico.Models.ViewModels.Tables

@{
    ViewData["Title"] = "Planillas";
    int contador = 0;
}
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/js/custom/routes/filters.js"></script>
<script src="~/js/custom/routes/dealer/details/confirmCart.js"></script>
<script src="~/js/custom/routes/dealer/details/cartStates.js"></script>
<script src="~/js/custom/routes/dealer/details/clientHistory.js"></script>
<script src="~/js/custom/routes/dealer/details/returnProducts.js"></script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Planillas</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Routes" asp-action="Index">Planillas</a></li>
                <li class="breadcrumb-item active">Detalles</li>
            </ol>
        </div>
    </div>

    <!-- MODAL DE CONFIRMACIÓN -->
    <div id="modalConfirmation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar bajada</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-12 table-responsive">
                        <div id="divClientAbonos">
                            <h3 class="text-center">Abonos (sin cargo)</h3>
                            <table class="table" id="clientAbonoProductsTable">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Disponible</th>
                                        <th class="col-2">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <table class="table" id="clientProductsTable">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th class="col-2">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <hr>
                        <div class="d-flex row justify-content-between">
                            <p id="totalCart" class="col-12 align-items-center justify-content-end mb-0">Total: $0</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr />
                        <div class="col-12 py-3 d-flex justify-content-center align-items-center">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="cartPaymentMethodOption" value="1" checked> Efectivo
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="cartPaymentMethodOption" value="2"> Transferencia
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="cartPaymentMethodOption" value="3"> Mercado pago
                                </label>
                            </div>
                        </div>
                        @* <div class="col-6">
                            @Html.DropDownList("cartPaymentMethod", Model.PaymentMethods, new { @class = "form-control mb-2", @id = "cartPaymentMethod" })
                        </div> *@
                        <div class="col-12 p-3" id="cartPaymentAmountContainer">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="number" class="form-control" id="cartPaymentAmount" placeholder="Entrega" min="0" step="1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="confirmCart()" class="btn btn-success waves-effect waves-light">Confirmar bajada</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL DE DEVOLUCION -->
    <div id="modalReturned" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="returnModalTitle" class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-12 table-responsive">
                        <table class="table" id="returnedProductsTable">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th class="col-2">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="confirmReturned()" class="btn btn-success waves-effect waves-light">Confirmar devolución</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 px-0">
            <div class="card shadow">
                <div class="card-header mx-0 d-flex row justify-content-between">
                    <div class="col-sm-12">
                        <h4 class="mb-0">Repartos de <b>@Model.Route.User.UserName</b> para el <b>@Model.Route.DayOfWeek</b></h4>
                    </div>
                </div>
                <div class="card-body pl-0 pr-1">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="mb-2 px-3 justify-content-end">
                                <input type="text" class="form-control" id="searchInput" placeholder="Buscar">
                            </div>

                            <!-- FILTRO DE BÚSQUEDA -->
                            <div class="col-12 mb-2">
                                <div class="accordion" id="myAccordion">
                                    <div cla`ss="card shadow rounded">
                                        <div class="card-header p-2" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-info collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Filtros
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
                                            <div class="card-body">
                                                <div class="form-group mb-2 px-3">
                                                    @Html.DropDownList("estadoSelect", Model.CartStates, new { @class = "form-control form-select", @id = "estadoSelect" })
                                                </div>
                                                <div class="form-group mb-2 px-3">
                                                    @Html.DropDownList("productSelect", Model.ProductTypes, new { @class = "form-control form-select", @id = "productSelect" })
                                                </div>
                                                <div class="form-group mb-2 px-3">
                                                    <select class="form-control" id="typeSelect">
                                                        <option value="">Por tipo de servicio</option>
                                                        <option value="Abono">Abono</option>
                                                        <option value="Bajada">Bajada</option>
                                                    </select>
                                                </div>
                                                <div class="form-group mb-2 px-3">
                                                    @Html.DropDownList("paymentMethodSelect", Model.PaymentTypes , new { @class = "form-control form-select", @id = "paymentMethodSelect" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 my-3">
                            @if (!Model.Route.IsStatic)
                            {
                                <div class="d-flex flex-row justify-content-end mx-3">
                                    <a class="btn btn-info btn-rounded float-right" asp-area="" asp-controller="Routes" asp-action="ManualCart" asp-route-id="@Model.Route.ID">Agregar fuera de reparto</a>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- TIMELINE DE CLIENTES -->
                    <div class="col-12">
                    @foreach (Cart cart in Model.Route.Carts.OrderBy(x => x.Priority))
                    {
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between align-items-center">
                                    @if (cart.State == State.Confirmed)
                                    {
                                        <h4 class="card-title mb-0 name-element" style="color: #30d577">@Html.DisplayFor(x => cart.Client.Name) - @Html.DisplayFor(x => cart.State)</h4>
                                    }
                                    else if (cart.State == State.Ausent ||cart.State == State.NotNeeded ||cart.State == State.Holidays) 
                                    {
                                        <h4 class="card-title mb-0 name-element" style="color: #ffc107">@Html.DisplayFor(x => cart.Client.Name) - @Html.DisplayFor(x => cart.State)</h4>
                                    }
                                    else if (cart.State == State.Pending)
                                    {
                                        <h4 class="card-title mb-0 name-element" style="color: #6c757d">@Html.DisplayFor(x => cart.Client.Name) - @Html.DisplayFor(x => cart.State)</h4>
                                    }
                                    else
                                    {
                                        <h4 class="card-title mb-0 name-element" style="color: #6c757d">@Html.DisplayFor(x => cart.Client.Name)</h4>
                                    }
                                    <button class="btn btn-info rounded-circle mr-2 h-100" onclick="getClientHistory(@cart.ClientID, '@cart.Client.Name')"><i class="bi bi-clipboard"></i></button>
                                </div>
                                <p class="m-0"><small class="text-muted">Bajada #@cart.ClientID</small> - 
                                <small class="text-muted">Creada: @cart.CreatedAt.ToString("dd/MM/yyyy HH:mm")</small> - 
                                <small class="text-muted">Últ. modif: @cart.UpdatedAt.ToString("dd/MM/yyyy HH:mm")</small> - 

                                <!-- Mostrar las deudas de cada cliente -->
                                @if (cart.Client.Debt == 0)
                                {
                                    <small class="text-muted">Sin deuda</small>
                                }
                                else if (cart.Client.Debt > 0)
                                {
                                    <small class="text-danger">Deuda: $@Html.DisplayFor(x => cart.Client.Debt)</small>
                                }
                                else
                                {
                                    <small class="text-success">A favor: $@((cart.Client.Debt * -1).ToString("#,##"))</small>
                                }
                                </p>

                                <p class="mb-0"><small class="text-muted address-element"><i class="bi bi-house-door"></i> @Html.DisplayFor(x => cart.Client.Address)&nbsp;&nbsp;-&nbsp;&nbsp;<i class="bi bi-telephone"></i> @Html.DisplayFor(x => cart.Client.Phone)</small></p>
                               
                                <!--Bajada confirmada -->
                                @if (cart.State == State.Confirmed)
                                {
                                    <hr />
                                    <div class="row justify-content-between">
                                    @if (cart.Products.Any())
                                    {
                                        <div class="col-12 col-md-6 col-lg-4 p-2">
                                            <h3 class="text-center type-element text-muted mb-0">Bajada</h3>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Cantidad</th>
                                                            <th>Producto</th>
                                                            <th>Precio</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (CartProduct product in cart.Products)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(x => product.Quantity)</td>
                                                            <td class="product-element">@product.Type.GetDisplayName()</td>
                                                            <td>@Html.DisplayFor(x => product.SettedPrice)</td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    @if (cart.AbonoProducts.Any())
                                    {
                                        <div class="col-12 col-md-6 col-lg-4 p-2">
                                            <h3 class="text-center type-element text-muted mb-0">Abonos</h3>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Cantidad</th>
                                                            <th>Producto</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (CartAbonoProduct product in cart.AbonoProducts)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(x => product.Quantity)</td>
                                                            <td class="product-element">@product.Type.GetDisplayName()</td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    @if (cart.ReturnedProducts.Any())
                                    {
                                        <div class="col-12 col-md-6 col-lg-4 p-2">
                                            <h3 class="text-center type-element text-muted mb-0">Devoluciones</h3>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Cantidad</th>
                                                            <th>Producto</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    @foreach (ReturnedProduct product in cart.ReturnedProducts)
                                                    {
                                                        <tr>
                                                            <td>@Html.DisplayFor(x => product.Quantity)</td>
                                                            <td class="product-element">@product.Type.GetDisplayName()</td>
                                                        </tr>
                                                    }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    }
                                    </div>

                                    <div class="d-flex flex-md-row flex-column justify-content-end">
                                        <button type="button" onclick="getReturnedProducts('@cart.ClientID', '@cart.Client.Name', '@cart.ID')" class="btn btn-sm btn-info btn-rounded px-3 mb-2 mb-md-0 ml-auto ml-md-0">Devuelve</button>
                                        <a asp-area="" asp-controller="Carts" asp-action="Edit" asp-route-id="@cart.ID" class="btn btn-sm btn-info btn-rounded px-3 ml-auto ml-md-2">Editar Bajada</a>
                                        </div>
                                    <hr>
                                    <div class="d-flex flex-row justify-content-start">
                                        <ul>
                                            @foreach (CartPaymentMethod paymentMethod in cart.PaymentMethods)
                                            {
                                                <li>@Html.DisplayFor(x => paymentMethod.PaymentMethod.Name): $@Html.DisplayFor(x => paymentMethod.Amount)</li>
                                            }
                                        </ul>
                                    </div>
                                }
                                
                                <!--Bajada pendiente -->
                                @if (cart.State == State.Pending)
                                {
                                    <div class="d-flex flex-row justify-content-end">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown">Acción</button>
                                            <div class="dropdown-menu">
                                                <button type="button" class="dropdown-item" data-toggle="modal" data-target="#modalConfirmation" style="cursor: pointer;" onclick="openModal(@cart.ID, @cart.ClientID)"><b>Bajar</b></button>
                                                <div class="dropdown-divider"></div>
                                                @foreach (State state in Model.States)
                                                {
                                                    <button class="dropdown-item" type="button" style="cursor: pointer;" onclick="setState(@cart.ID, @((int)state), '@state.GetDisplayName().ToLower()')">@state.GetDisplayName()</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <form method="post" asp-controller="Carts" asp-action="Confirm" asp-route-Cart.ID="@cart.ID" id="form-confirmCart_@cart.ID">
                                        @if (Model.Clients.First(x => x.ClientID == cart.ClientID).Products.Count > 0)
                                        {
                                            <h2 class="text-center">Bajada</h2>
                                            <table class="table" data-name="tableProducts">
                                                <thead>
                                                    <tr>
                                                        <th class="col-4">Producto</th>
                                                        <th class="col-4">Bajó</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var product in Model.Clients.First(x => x.ClientID == cart.ClientID).Products)
                                                    {
                                                        <tr>
                                                            <td>@product.Name - @Html.DisplayFor(x => product.Price)</td>
                                                            <td><input type="number" class="form-control" /></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }

                                        @if (Model.Clients.First(x => x.ClientID == cart.ClientID).AbonoProducts.Count > 0)
                                        {
                                        <hr />
                                        <h2 class="text-center">Abonos</h2>
                                        <table class="table" data-name="tableAbonoProducts">
                                            <thead>
                                                <tr>
                                                    <th class="col-4">Producto</th>
                                                    <th class="col-4">Bajó</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var product in Model.Clients.First(x => x.ClientID == cart.ClientID).AbonoProducts)
                                                {
                                                    <tr>
                                                        <td>@product.Type.GetDisplayName() - Dispone: @product.Available</td>
                                                        <td><input type="number" class="form-control" /></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        }
                                        <button type="button" class="btn btn-info btn-rounded" onclick="confirmCart(@cart.ID)">Confirmar bajada</button>
                                    </form>
                                }
                                <!-- Resetear estado del carrito (no confirmado) -->
                                @if (cart.State != State.Pending && cart.State != State.Confirmed)
                                {
                                    <hr>
                                    <div class="d-flex flex-row justify-content-end">
                                        <button type="button" class="btn btn-sm btn-danger btn-rounded px-3" onclick="cancelState(@cart.ID)">Cancelar estado</button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="form-resetState" method="post" asp-area="" asp-controller="Carts" asp-action="ResetState">
        @Html.AntiForgeryToken()
        @Html.Hidden("cartID", "")
    </form>
    
    <form id="form-setState" method="post" asp-area="" asp-controller="Carts" asp-action="SetState">
        @Html.AntiForgeryToken()
        @Html.Hidden("cartID", "")
        @Html.Hidden("state", "")
    </form>

    <form id="form-returnProducts" method="post" asp-area="" asp-controller="Carts" asp-action="ReturnProducts">
        @Html.AntiForgeryToken()
        @Html.Hidden("cartID", "")
    </form>
    
    <form id="form-getReturnedProducts" method="get" asp-area="" asp-controller="Carts" asp-action="GetReturnedProducts">
        @Html.AntiForgeryToken()
        @Html.Hidden("cartID", "")
        @Html.Hidden("clientID", "")
    </form>
    
    <form id="form-searchClientProducts" method="get" asp-area="" asp-controller="Clients" asp-action="GetProductsAndAbono">
        @Html.Hidden("id", "")
    </form>

    <form id="form-searchClientHistory" method="get" asp-area="" asp-controller="Clients" asp-action="GetProductsHistory">
        @Html.Hidden("id", "")
    </form>

    <form id="form-confirmCart" method="post" asp-area="" asp-controller="Carts" asp-action="Confirm">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Cart.ID)
        @Html.HiddenFor(x => x.Cart.ClientID)
    </form>
</div>