@model AguasNico.Models.ViewModels.Clients.IndexViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Clientes";
}

<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/js/custom/clients/index.js"></script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Clientes</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active">Clientes</li>
            </ol>
        </div>
        <div class="col-md-7 col-5 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <a asp-area="" asp-controller="Clients" asp-action="Create" class="btn btn-info btn-rounded waves-effect waves-light m-t-10 float-right">Agregar nuevo cliente</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Listado de clientes</h2>
                    <hr />
                    <div class="row justify-content-between">
                        <div class="form-group col-12 col-sm-6 col-md-4">
                            <form id="form-searchByName" method="get" asp-area="" asp-controller="Clients" asp-action="SearchByName" class="form-material">
                                <input id="clientName" name="name" type="text" class="form-control form-control-line">
                                <span class="help-block text-muted">
                                    <small>Nombre del cliente</small>
                                </span>
                            </form>
                        </div>
                        <div class="form-group col-12 col-sm-6 col-md-4">
                            <form id="form-searchByID" method="get" asp-area="" asp-controller="Clients" asp-action="SearchByID" class="form-material">
                                <div class="d-flex flex-row">
                                    <span class="mt-auto mb-1 mr-1">#</span>
                                    <input id="clientID" name="id" type="number" class="form-control form-control-line">
                                </div>
                                <span class="help-block text-muted">
                                    <small>Código del cliente</small>
                                </span>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="DataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Deuda</th>
                                    <th>Reparto</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                @foreach (Client client in Model.Clients)
                                {
                                    <tr>
                                        <td><a target="_blank" asp-area="" asp-controller="Clients" asp-action="Details" asp-route-id="@client.ID">@Html.DisplayFor(c => client.Name)</a></td>
                                        <td>@Html.DisplayFor(c => client.Address)</td>
                                        <td>@Html.DisplayFor(c => client.Phone)</td>
                                        <td>$@(client.Debt >= 0 ? Html.DisplayFor(c => client.Debt) : (client.Debt * -1).ToString("#,##") + " a favor")</td>
                                        <td>@Html.DisplayFor(c => client.Dealer.UserName) - @Html.DisplayFor(c => client.DeliveryDay)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>