@model AguasNico.Models.ViewModels.Home.IndexViewModel
@using System.Globalization
@using AguasNico.Models.ViewModels.Tables

@{
    ViewData["Title"] = "Inicio";
}

<link href="~/lib/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/lib/moment/moment-with-locales.js"></script>
<script src="~/lib/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/js/custom/home/admin/index.js"></script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Inicio</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Inicio</li>
            </ol>
        </div>
    </div>

    <!-- Modal -->
    <div id="modalCreate" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div id="formContainer" class="modal-dialog">
            <form id="form-create-expense" method="post" asp-area="" asp-controller="Expenses" asp-action="Create" autocomplete="off">
                @Html.AntiForgeryToken()
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Agregar gasto</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-column">
                                    <div class="col-12 mb-3">
                                        <label for="ExpenseUserID" class="mb-0">Repartidor</label>
                                        @Html.DropDownList("", Model.Dealers, new { @class = "form-control mb-2", @id = "ExpenseUserID", @name = "CreateViewModel.UserID" })
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="ExpenseDescription" class="mb-0">Descripción</label>
                                        <input name="CreateViewModel.Description" id="ExpenseDescription" class="form-control" required />
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="ExpenseAmount" class="mb-0">Monto</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input name="CreateViewModel.Amount" id="ExpenseAmount" class="form-control" required type="number" data-val-number="Debes ingresar un número" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                        <button type="button" onclick="sendForm()" class="btn btn-success waves-effect waves-light">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row mr-auto">
                        <h4 class="my-auto card-title">Productos vendidos el</h4>
                        <input type="text" class="form-control ml-3 my-auto" id="ProductsDatePicker" name="date" value='@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")' style="max-width: fit-content;" />
                    </div>
                    <div class="table-responsive">
                        <table id="productsTable" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th style="width:10%;"></th>
                                    <th>Producto/Envase</th>
                                    <th>Cargados</th>
                                    <th>Vendidos</th>
                                    <th>Devueltos</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (SoldProductsTable product in Model.SoldProducts)
                                {
                                    <tr>
                                        <td><span class="round"><i class="ti-shopping-cart"></i></span></td>
                                        <td><h6>@Html.DisplayFor(x => product.Name)</h6></td>
                                        <td><h6>@Html.DisplayFor(x => product.Dispatched)</h6></td>
                                        <td><h5>@Html.DisplayFor(x => product.Sold)</h5></td>
                                        <td><h5>@Html.DisplayFor(x => product.Returned)</h5></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row mr-auto">
                            <h3 class="my-auto card-title">Gastos del día</h3>
                            <input type="text" class="form-control ml-3 my-auto" id="ExpensesDatePicker" name="date" value='@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")' style="max-width: fit-content;" />
                        </div>
                        <button id="btnAddExpense" type="button" class="btn btn-info btn-rounded waves-effect waves-light m-t-10 float-right" data-toggle="modal" data-target="#modalCreate">Agregar gasto</button>
                    </div>
                    <div class="table-responsive">
                        <table id="expensesTable" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th>Repartidor</th>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(Expense expense in Model.Expenses)
                                {
                                    <tr>
                                        <td>
                                            <h6>@Html.DisplayFor(x => expense.User.Name)</h6>
                                        </td>
                                        <td>
                                            <h6>@Html.DisplayFor(x => expense.Description)</h6>
                                        </td>
                                        <td>
                                            <h5>$@Html.DisplayFor(x => expense.Amount)</h5>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-light" id="expensesTotal">$0</h3>
                            <h5 class="text-muted m-b-0">Gastos totales del día</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-9 col-md-6 col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row mr-auto justify-content-between">
                        <h3 class="my-auto card-title">Repartos del día</h3>
                        <input type="text" class="form-control ml-3 my-auto" id="RoutesDatePicker" name="date" value='@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")' style="max-width: fit-content;" />
                        <div class="m-l-10 align-self-center">
                            <h3 class="m-b-0 font-light" id="routesTotal">$0</h3>
                            <h5 class="text-muted m-b-0">Recaudación total de repartos</h5>
                        </div>
                    </div>
                    <div class="table-responsive m-t-20">
                        <table id="routesTable" class="table stylish-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Envíos completados</th>
                                    <th>Productos vendidos</th>
                                    <th>Recaudado</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <div class="round round-lg align-self-center round-primary"><i class="mdi mdi-currency-usd"></i></div>
                        <div class="m-l-10 align-self-center">
                        <input type="text" class="form-control ml-3 my-auto" id="BalanceDatePicker" name="date" value='@DateTime.UtcNow.AddHours(-3).ToString("dd/MM/yyyy")' style="max-width: fit-content;" />

                            <h3 class="m-b-0 font-light" id="balanceTotal"></h3>
                            <h5 class="text-muted m-b-0">
                                Balance del día
                                <a class="mytooltip" href="javascript:void(0)">
                                    <i class="bi bi-info-circle"></i>
                                    <span class="tooltip-content5">
                                        <span class="tooltip-text3">
                                            <span class="tooltip-inner2">
                                                <div class="d-flex">
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td><h6 class="text-white text-left" id="balanceTableCash"></h6></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h6 class="text-white text-left" id="balanceTableTransfers"></h6></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h6 class="text-white text-left" id="balanceTableDispenser"></h6></td>
                                                            </tr>
                                                            <tr>
                                                                <td><h6 class="text-white text-left" id="balanceTableExpenses"></h6></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form id="form-searchRoutesByDate" method="get" asp-area="" asp-controller="Routes" asp-action="SearchByDate">
        @Html.Hidden("dateString", "")
    </form>
    <form id="form-searchProductsByDate" method="get" asp-area="" asp-controller="Routes" asp-action="SearchSoldProducts">
        @Html.Hidden("dateString", "")
    </form>
    <form id="form-searchExpensesByDate" method="get" asp-area="" asp-controller="Expenses" asp-action="SearchByDate">
        @Html.Hidden("dateString", "")
    </form>
    <form id="form-searchBalanceByDate" method="get" asp-area="" asp-controller="Stats" asp-action="GetBalanceByDate">
        @Html.Hidden("dateString", "")
    </form>
</div>

<style>
    .clickable {
        cursor: pointer;
    }
</style>