@model AguasNico.Models.ViewModels.Dealers.PrintSheetViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Repartidores";
}

<link href="~/lib/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="~/lib/morrisjs/morris.css" rel="stylesheet">

<script src="~/lib/raphael/raphael-min.js"></script>
<script src="~/lib/morrisjs/morris.js"></script>
<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/moment/moment-with-locales.js"></script>
<script src="~/lib/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/js/custom/dealers/details.js"></script>

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Repartidores</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Dealers" asp-action="Index">Repartidores</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Dealers" asp-action="Details" asp-route-id="@Model.Dealer.Id">@Model.Dealer.Name</a></li>
                <li class="breadcrumb-item active">Planillas</li>
            </ol>
        </div>
    </div>
        <h3 class="text-center">Lunes</h3>
    <div class="card">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Productos</th>
                    <th>Productos de abonos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MondaySheets)
                {
                    <tr>
                        <td>@item.ClientName</td>
                        <td>
                            <ul>
                                @foreach (var product in item.Products)
                                {
                                    <li>@product.Type.GetDisplayName() - @Html.DisplayFor(x => product.Price) - Stock: @product.Stock u.</li>
                                }
                            </ul>
                        </td>
                        <td>
                            <ul>
                                @foreach (var product in item.AbonoProducts)
                                {
                                    <li>@product.Type.GetDisplayName() - @product.Available disponibles</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
</div>