@model AguasNico.Models.ViewModels.Dealers.PrintSheetViewModel
@using System.Globalization
@{
    ViewData["Title"] = "Repartidores";
}

<link href="~/lib/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="~/lib/morrisjs/morris.css" rel="stylesheet">

<script src="~/lib/raphael/raphael-min.js"></script>
<script src="~/lib/morrisjs/morris.js"></script>
<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/moment/moment-with-locales.js"></script>
<script src="~/lib/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="~/js/custom/dealers/details.js"></script>
<script src="~/js/jquery.PrintArea.js"></script>
<script src="~/js/custom/dealers/printSheet.js"></script>


<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Repartidores</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Dealers" asp-action="Index">Repartidores</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Dealers" asp-action="Details" asp-route-id="@Model.Dealer.Id">@Model.Dealer.Name</a></li>
                <li class="breadcrumb-item active">Planillas</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        @Html.DropDownList("routesDay", Model.Days, new { @class = "form-control form-select", @id = "routesDay", @style = "max-width: fit-content;", @onChange = "changeDay(this)" })
                        <button onclick="print()" class="btn btn-info" type="button"> <span><i class="fa fa-print"></i> Convertir a PDF</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @foreach (var day in new ConstantsMethods().GetDays())
    {
        if (!Model.Sheets.Any(x => x.Day == day))
        {
            continue;
        }
        <div class="printableArea px-1" id="@(day)_section">
            <div class="row bg-white">
                <div class="col-12 my-2 d-flex justify-content-between">
                    <h4 class="text-center p-2 m-0 text-dark"><strong>Planilla @day</strong></h4>
                    <h4 class="text-center p-2 m-0 text-dark"><strong>Fecha: @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</strong></h4>
                </div>
                <div class="col-12 mb-2 d-flex justify-content-between">
                    <h4 class="text-center p-2 m-0 text-dark"><strong>@Model.Dealer.Name</strong></h4>
                </div>
                @foreach (var item in Model.Sheets.Where(x => x.Day == day))
                {
                    <div class="col-12 d-flex justify-content-between py-1 border border-dark">
                        <h5 class="mb-0 d-flex align-items-center"><li class="text-dark mb-0"><strong>@item.ClientName</strong> #@item.ClientID</li></h5>
                        <div class="d-flex mr-4">
                            <p class="text-monospace mx-5 mb-0 text-dark">
                                <i class="bi bi-geo-alt pr-1"></i >@item.ClientAddress 
                            </p>
                            <p class="text-monospace mb-0 text-dark">
                                <i class="bi bi-telephone-fill pr-1"></i> @item.ClientPhone
                            </p>
                        </div>
                    </div>
                    <div class="col-8 px-0 border-right border-dark">
                        <div class="row px-3">
                            @if (item.Products.Any())
                            {
                                <div class="col-12 px-0 border-dark border-bottom">
                                    <table class="table table-bordered border-top-0 mb-0">
                                        <thead>
                                            <tr>
                                                <th class="py-0 text-dark" style="width: 50%;">BAJADA</th>
                                                <th class="py-0 text-center" style="width: 10%;">S1</th>
                                                <th class="py-0 text-center" style="width: 10%;">S2</th>
                                                <th class="py-0 text-center" style="width: 10%;">S3</th>
                                                <th class="py-0 text-center" style="width: 10%;">S4</th>
                                                <th class="py-0 text-center" style="width: 10%;">S5</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var product in item.Products)
                                            {
                                            <tr>
                                                <td class="py-1 text-dark font-italic">
                                                    @product.Type.GetDisplayName() @Html.DisplayFor(x => product.Price)  (Stock: @product.Stock u.)
                                                </td>   
                                                <td class="py-1"></td> 
                                                <td class="py-1"></td> 
                                                <td class="py-1"></td> 
                                                <td class="py-1"></td> 
                                                <td class="py-1"></td> 
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            @foreach (var abono in item.Abonos)
                            {
                                <div class="col-12 px-0 border-dark border-bottom">
                                    <table class="table table-bordered border-top-0 mb-0">
                                        <thead>
                                            <tr>
                                                <th class="py-0 text-dark" style="width: 50%;">@abono.Abono.Name</th>
                                                <th class="py-0 text-center" style="width: 10%;">S1</th>
                                                <th class="py-0 text-center" style="width: 10%;">S2</th>
                                                <th class="py-0 text-center" style="width: 10%;">S3</th>
                                                <th class="py-0 text-center" style="width: 10%;">S4</th>
                                                <th class="py-0 text-center" style="width: 10%;">S5</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var product in item.AbonoProducts.Where(x => x.AbonoID == abono.ID))
                                            {
                                            <tr>
                                                <td class="py-1 text-dark font-italic">
                                                    @product.Type.GetDisplayName() - (Stock: @product.Stock u.)
                                                </td>   
                                                <td class="py-1"></td> 
                                                <td class="py-1"></td> 
                                                <td class="py-1"></td> 
                                                <td class="py-1"></td> 
                                                <td class="py-1"></td> 
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-2 d-flex align-items-center border-dark border-right">
                                        <p class="text-dark my-1 ml-3">
                                            Envases 
                                        </p>
                                    </div>
                                    <div class="col-5 d-flex align-items-center border-dark border-right">
                                        <i class="bi bi-plus-square-fill"></i>
                                    </div>
                                    <div class="col-5 d-flex align-items-center">
                                        <i class="bi bi-dash-square-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 row">
                        <div class="col-6">
                            <p class="text-monospace mb-2 flex-grow-1 align-self-stretchs"><small>Saldo anterior: </small> @(item.ClientDebt > 0 ? @Html.DisplayFor(x => item.ClientDebt) : " ")</p>
                        </div>
                        <div class="col-6 border-left border-dark">
                            <p class="text-monospace mb-2 flex-grow-1 align-self-stretch"><small>Entrega:</small></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>