@model AguasNico.Models.ViewModels.Routes.ManualCartViewModel
@using System.Globalization

@{
    ViewData["Title"] = "Planillas";
}
<link href="~/lib/datatables/media/css/dataTables.bootstrap4.css" rel="stylesheet">

<script src="~/lib/datatables/datatables.min.js"></script>
<script src="~/js/custom/routes/manualCart.js"></script>


<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-12 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Planillas</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Routes" asp-action="Index">Planillas</a></li>
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Routes" asp-action="Details" asp-route-id="@Model.Route.ID">Planilla @Model.Route.DayOfWeek - @Model.Route.User.Name</a></li>
                <li class="breadcrumb-item active">Fuera de reparto</li>
            </ol>
        </div>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="col-12 table-responsive">
                        <div id="divClientAbonos">
                            <h3 class="text-center">Abonos (sin cargo)</h3>
                            <table class="table" id="clientAbonoProductsTable">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Disponible</th>
                                        <th class="col-2">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <table class="table" id="clientProductsTable">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th class="col-2">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <hr>
                        <div class="d-flex row justify-content-between">
                            <p id="totalCart" class="col-12 align-items-center justify-content-end mb-0">Total: $0</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr />
                        <div class="col-12 py-3 d-flex justify-content-center align-items-center">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="cartPaymentMethodOption" value="1" checked> Efectivo
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="cartPaymentMethodOption" value="2"> Transferencia
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="cartPaymentMethodOption" value="3"> Mercado pago
                                </label>
                            </div>
                        </div>
                        @* <div class="col-6">
                            @Html.DropDownList("cartPaymentMethod", Model.PaymentMethods, new { @class = "form-control mb-2", @id = "cartPaymentMethod" })
                        </div> *@
                        <div class="col-12 p-3" id="cartPaymentAmountContainer">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">$</div>
                                </div>
                                <input type="number" class="form-control" id="cartPaymentAmount" placeholder="Entrega" min="0" step="1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="confirmCart(this)" class="btn btn-success waves-effect waves-light">Confirmar bajada</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Listado de clientes</h2>
                    <hr />
                    <div class="row justify-content-between">
                        <div class="form-group col-12 col-sm-6 col-md-4">
                            <form id="form-searchByName" method="get" asp-area="" asp-controller="Routes" asp-action="ClientsByNameNotInRoute" class="form-material">
                                @Html.Hidden("routeID", Model.Route.ID)
                                <input id="clientName" name="name" type="text" class="form-control form-control-line">
                                <span class="help-block text-muted">
                                    <small>Nombre del cliente</small>
                                </span>
                            </form>
                        </div>
                        <div class="form-group col-12 col-sm-6 col-md-4">
                            <form id="form-searchByID" method="get" asp-area="" asp-controller="Routes" asp-action="ClientsByIDNotInRoute" class="form-material">
                                @Html.Hidden("routeID", Model.Route.ID)
                                <div class="d-flex flex-row">
                                    <span class="mt-auto mb-1 mr-1">#</span>
                                    <input id="clientID" name="clientID" type="number" class="form-control form-control-line">
                                </div>
                                <span class="help-block text-muted">
                                    <small>Código del cliente</small>
                                </span>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="DataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Deuda</th>
                                    <th>Reparto</th>
                                    <th>Seleccionar</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>                              
            </div>
        </div>
    </div>

    <form id="form-searchClientProducts" method="get" asp-area="" asp-controller="Clients" asp-action="GetProductsAndAbono">
        @Html.Hidden("id", "")
    </form>

    <form id="form-confirmCart" method="post" asp-area="" asp-controller="Carts" asp-action="ConfirmManual">
        @Html.AntiForgeryToken()
        @Html.Hidden("Cart.ClientID", "")
        @Html.Hidden("Cart.RouteID", Model.Route.ID)
    </form>
</div>